body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2d477c;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#submitButton {
  padding: 10px;
  border: none;
  outline: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  background-color: #d25533;
  color: #fff;
}

#submitButton:active {
  transition: background 0.2s ease-in-out;
  background-color: rgb(210, 85, 51, 0.5);
  color: #e2b581;
}

#inputField {
  font-size: 14px;
  width: 300px;
  padding: 15px 10px;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #e2b581;
  color: #2d477c;
  transition: background 0.3s ease-in;

  /* Reset default appearance */
  -webkit-appearance: none;
}

::placeholder {
  color: #673f69;
  opacity: 0.8;
}

#inputField:focus {
  outline: none;
  background-color: #f9ddb2;
}

#output {
  font-size: 14px;
  width: 300px;
  height: 320px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f9ddb2;
  overflow-y: scroll;
  text-align: left;
  color: #2d477c;
}

.title {
  color: #fff;
  margin-bottom: 20px;
  margin-top: 20px;
}

.dt_img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.trump {
  color: #d25533;
}

.you {
  color: darkslategray;
}
